@model RedeDoVerde.Domain.Comment.Comments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            Autor do comentário: 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
